<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="3"
          android:versionName="1.2.0.1 beta"
          package="imu.pcloud.app">
    <uses-sdk android:minSdkVersion="14"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 个推权限配置 -->
    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:icon="@drawable/logo" android:label="@string/app_name">
        <activity
                android:name=".activity.RegisterActivity"
                android:screenOrientation="portrait"
                android:theme="@style/newTheme">
        </activity>
        <activity android:name=".activity.LoginActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity android:name=".activity.PlanCircleActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"
                 >
        </activity>
        <activity android:name=".activity.UserSharingActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"
        >

        </activity>
        <activity android:name=".activity.MainActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">

        </activity>
        <activity android:name=".activity.AddPlanItemActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">
        </activity>
        <activity android:name=".activity.InformationActivity"
                    android:theme="@style/newTheme"
                  android:screenOrientation="portrait"
        />
        <activity android:name=".activity.AllPlanActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">
        </activity>
        <activity android:name=".activity.AccountActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">
        </activity>
        <activity android:name=".activity.WelcomeActivity"
                  android:screenOrientation="portrait"
                  android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
        </activity>>
        <activity android:name=".activity.RepasswordActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">
        </activity>

        <activity android:name=".activity.TeamMemberActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">
        </activity>

        <activity android:name=".activity.TPlanInformation"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">
        </activity>

        <activity android:name=".activity.CheckSharingPlanActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme">
        </activity>
        <activity android:name=".activity.SetInformationActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"
        />
        <activity android:name=".activity.AddMultiPlanActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"/>
        <activity android:name=".activity.SearchMultiPlanActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"/>
        <activity android:name=".activity.ShowMultiPlanActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"/>
        <activity android:name=".activity.ClipActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"/>
        <activity android:name=".activity.DiscoverPlanAcitivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"/>
        <activity android:name=".activity.DescribeActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"/>
        <activity android:name=".activity.ShowPlanActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/newTheme"/>


        <!--  注册广播接收器 -->
        <!--<receiver android:name=".reciver.MyReciver" >-->
            <!--<intent-filter android:priority="2147483647" >&lt;!&ndash;优先级加最高&ndash;&gt;-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="com.igexin.sdk.action.refreshls" />-->
                <!--&lt;!&ndash; 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 &ndash;&gt;-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

        <!--&lt;!&ndash; 注册推送服务 &ndash;&gt;-->
        <!--<service android:name=".service.PushMsgService">-->

        <!--</service>-->

        <!--&lt;!&ndash; 个推 &ndash;&gt;-->
        <!--&lt;!&ndash; 个推SDK配置开始 &ndash;&gt;-->
        <!--&lt;!&ndash; 配置的第三方参数属性 &ndash;&gt;-->
        <!--<meta-data-->
                <!--android:name="PUSH_APPID"-->
                <!--android:value="vtpFE0oEa977mP0bazGzz1" /> &lt;!&ndash; 替换为第三方应用的APPID &ndash;&gt;-->
        <!--<meta-data-->
                <!--android:name="PUSH_APPKEY"-->
                <!--android:value="cTNR7q2iHJ889kT06Q226A" /> &lt;!&ndash; 替换为第三方应用的APPKEY &ndash;&gt;-->
        <!--<meta-data-->
                <!--android:name="PUSH_APPSECRET"-->
                <!--android:value="3xW66Y7c3y7rzkrNulceP6" /> &lt;!&ndash; 替换为第三方应用的APPSECRET &ndash;&gt;-->
        <!--&lt;!&ndash; 配置SDK核心服务 &ndash;&gt;-->
        <!--<service-->
                <!--android:name="com.igexin.sdk.PushService"-->
                <!--android:exported="true"-->
                <!--android:label="NotificationCenter"-->
                <!--android:process=":pushservice" />-->
        <!--<service-->
                <!--android:name="com.igexin.sdk.PushServiceUser"-->
                <!--android:exported="true"-->
                <!--android:label="NotificationCenterUser" />-->
        <!--<receiver android:name="com.igexin.sdk.PushReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="android.intent.action.USER_PRESENT" />-->
                <!--<action android:name="com.igexin.sdk.action.refreshls" />-->
                <!--&lt;!&ndash; 以下三项为可选的action声明，可大大提高service存活率和消息到达速度 &ndash;&gt;-->
                <!--<action android:name="android.intent.action.MEDIA_MOUNTED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />-->
                <!--<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<receiver-->
                <!--android:name="com.igexin.sdk.PushManagerReceiver"-->
                <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.igexin.sdk.action.pushmanager" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<activity-->
                <!--android:name="com.igexin.sdk.PushActivity"-->
                <!--android:excludeFromRecents="true"-->
                <!--android:exported="false"-->
                <!--android:process=":pushservice"-->
                <!--android:taskAffinity="com.igexin.sdk.PushActivityTask"-->
                <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<activity-->
                <!--android:name="com.igexin.sdk.GActivity"-->
                <!--android:excludeFromRecents="true"-->
                <!--android:exported="true"-->
                <!--android:process=":pushservice"-->
                <!--android:taskAffinity="com.igexin.sdk.PushActivityTask"-->
                <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<service-->
                <!--android:name="com.igexin.download.DownloadService"-->
                <!--android:process=":pushservice" />-->
        <!--<receiver android:name="com.igexin.download.DownloadReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<provider-->
                <!--android:name="com.igexin.download.DownloadProvider"-->
        <!--android:authorities="downloads.imu.pcloud.app"-->
        <!--android:exported="true"-->
        <!--android:process=":pushservice" />-->
        <!--<activity-->
                <!--android:name="com.igexin.getuiext.activity.GetuiExtActivity"-->
                <!--android:configChanges="orientation|keyboard|keyboardHidden"-->
                <!--android:excludeFromRecents="true"-->
                <!--android:exported="false"-->
                <!--android:process=":pushservice"-->
                <!--android:taskAffinity="android.task.myServicetask"-->
                <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->
        <!--<receiver-->
                <!--android:name="com.igexin.getuiext.service.PayloadReceiver"-->
                <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />-->
                <!--&lt;!&ndash; 把"你的APPID"替换为第三方应用的APPID &ndash;&gt;-->
                <!--<action android:name="com.igexin.sdk.action.vtpFE0oEa977mP0bazGzz1" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service-->
                <!--android:name="com.igexin.getuiext.service.GetuiExtService"-->
                <!--android:process=":pushservice" />-->
        <!--&lt;!&ndash; 个推SDK配置结束 &ndash;&gt;-->

    </application>
</manifest>
